input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-flight-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.add-flight-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  width: 40vh;
  border-radius: 40px;
  border: solid rgb(39, 62, 97) 2px;
  padding: 30px;
}

