.delete-flight-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.delete-flight-container h1{
  margin-bottom: 50px;
}
.delete-flight-container form {
  border-radius: 40px;
  border: solid rgb(39, 62, 97) 2px;
  padding: 30px;
}
