.controller-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
 margin-top: 80px;
}
.controller-container h1{
    margin-bottom: 50px; 
}
.flight-box{
    border: solid rgb(34, 85, 162) 3px;
    color: rgb(22, 68, 136) ;
    font-weight: bold;
    border-radius: 10px;
    height: 10rem;
    width: 18rem;
    line-height: 25px;
    padding: 30px;
    background-color: antiquewhite;
    position: relative;
}
.flights-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}
