.sorting-page-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.flights-container{
  max-width: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  gap: 10px;
}
.sort-container{
  width: 20rem;
}
.custom-select {
  color: black;
  padding: 12px;
}

