.sorting-page-container {
  margin-top: 80px;
  position: absolute;
  transform: translate(-60%, -50%);
  top: 35%;
  left: 50%;
}
.autocomplete-wrapper input {
  padding: 12px;
  
}
.custom-select {
  color: black;
  padding: 12px;
}
